.main{
    /* background-image:url("assets/image.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: white;
}
/* .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  } */
input[type=text] {
    font-size: 15px;
    width: 100%;
    padding: 4px 4px;
    margin: 0;
    border-radius: 4px;
  }
input[type=number] {
    font-size: 15px;
    width: 30%;
    padding: 4px 4px;
    margin: 0;
    border-radius: 4px;
  }
.input__segment{
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  .input__box{
      margin-right: 0.5 rem;
  }
  table {
    border-collapse: collapse;
    width: 100%;
}
thead{
    text-align: justify;
    font-size: 40;
    font-weight: bold;
    font-family: sans-serif;
}  
th, td {
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #FFFFFF;
}
tr:nth-child(odd){
    background-color: #F2F2F2;
}
.add {
    background-color: white; 
    color: green;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
.add:hover{
    background-color: rgb(247, 240, 240);
    box-shadow: 0px 0px 2px 2px rgb(9, 183, 76);
}
.remove{
    background-color: white;
    color: rgb(227, 11, 11);
    padding: 5px 10px;
     border-radius: 4px; 
    font-size: 16px;
    font-weight: bold;
    border: none;
    /* cursor: pointer; */
}
.remove:hover{
    background-color: rgb(247, 240, 240);
    box-shadow: 0px 0px 2px 2px rgb(237, 28, 28);
}