.main{
    background-color: white;
    position: relative;
}
/* .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  } */


input[type=text] {
    font-size: 15px;
    width: 100%;
    padding: 4px 4px;
    margin: 0;
    border-radius: 4px;
  }
input[type=number] {
    font-size: 15px;
    width: 35%;
    padding: 4px 4px;
    margin: 0;
    border-radius: 4px;
  }
.input__segment{
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  .input__box{
 
      margin-right: 0.5 rem;
 
      margin-right: 0.5rem;
     padding: 1rem;
 
  }
  table {
    border-collapse: collapse;
    width: 100%;
}
thead{
    text-align: justify;
    font-size: 40;
    font-weight: bold;
    font-family: sans-serif;
}  
th, td {
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #FFFFFF;
}
tr:nth-child(odd){
    background-color: #F2F2F2;
}