.main{
    /* background-image:url("assets/image.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: white;
}
/* .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  } */


input[type=text] {
    font-size: 15px;
    width: 100%;
    padding: 4px 4px;
    margin: 0;
    border-radius: 4px;
  }
input[type=number] {
    font-size: 15px;
    max-width: 4rem;
    padding: 4px 4px;
    margin: 0;
    border-radius: 4px;
  }

.input__segment{
    display: flex;
    flex-direction: row;
    text-align: start;
  }


.input__box{
    margin-right: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
 
  }

.title__input{
  min-width: 9rem;
}

.number__input{
  min-width: 4rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
}

th, td {
    text-align: center;
    padding: 0.5rem;
}
  
tr:nth-child(odd) {
    background-color: var(--white-color)
}
tr:nth-child(even){
    background-color: var( --light-gray-color)
}

.total__text{
  font-size: 14px;
  color:black
}



@media only screen and (max-width: 600px) {

 th,td {
  font-size: 0.75rem;
  font-weight: bold;
 }

  .input__box {
   padding: 0;
   margin: 0;
  }

  .number__input{
    min-width: 3rem;
    margin-left: 0.75rem;
  }

  .multiplier{
    display: none;
  }
  
  

}