*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sky-blue-color:#03ecfc;
    --blue-color:#116efa;
    --light-gray-color: #F2F2F2;
    --white-color:#FFFFFF;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #28A0E5; /* sea blue */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 3px;
    margin-bottom: 5px;
  }
  
  .btn:hover {
    background-color: #78C3FB; /* sky blue on hover */
  }


body{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color:#777;
    padding:1rem;
    background-image: linear-gradient(to right , var(--sky-blue-color), var(--blue-color));
}

.App{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-content: center;
    transform: translateX(15%);
    height: 100vh;
    background-color: white;
}

.card {
    padding: 2em;
  }



.main__heading{
    backface-visibility: hidden;
    background-image: linear-gradient(to right , var(--sky-blue-color), var(--blue-color));
    color:transparent;
    display: inline-block;

    -webkit-background-clip: text;
    background-clip: text;
    backface-visibility: hidden;

    animation-name: appearFromBelow;
    animation-duration: 600ms;

}

@keyframes appearFromBelow {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    80%{
        opacity: 1;
        transform: translateY(-10px);
    }

    100%{
        opacity: 0;
        transform: translateY(0px);
    }
}


@media only screen and (max-width: 500px) {
    body {
     background-image: none;
     padding: 0;
     margin: 0;
    }

    .App {
        width: 100%;
        display: block;
        align-content: start;
    }

    .card{
        margin: 0;
        padding: 0;
       }

  }
